.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #8718b4;
  color: #fff;
  border-right: 1px solid #ddd;
}


.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.canvas {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  position: relative;
  height: 100vh;
  border: 1px solid #ccc;
  box-sizing: border-box;
  overflow: auto;
  background-image:
    linear-gradient(to right, #ddd 1px, transparent 1px),
    linear-gradient(to bottom, #ddd 1px, transparent 1px);
  background-size: 10px 10px;

}

.canvas-element {
  margin-bottom: 15px;
  border-radius: 4px;
}

.canvas-element.selected {
  outline: 3px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.canvas-element.selected {
  border: 2px solid #007bff;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.section {
  margin-bottom: 20px;
}

.section h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.style-group {
  margin-bottom: 15px;
}

.style-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  color: #555;
}

.style-group input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}